// before import use custom variables, so bootstrap will be able to utilize it
// custom variables
$primary: #c29938;
$light: #fbf5e5; 

// import the functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/variables";

// create new variables
$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap: when compile it uses all default bootstrap styles too
@import '../node_modules/bootstrap/scss/bootstrap'

